<div  >
    <nav style=" margin-bottom: 500px; width: 2000px;"class="navbar navbar-expand navbar-dark bg-secondary">
      <a href="#" class="navbar-brand">LogOut</a>
      <div class="navbar-nav mr-auto">
        <li [routerLinkActive]="['active']" class="nav-item">
          <a routerLink="/users" class="nav-link">users</a>
        </li>
        <li [routerLinkActive]="['active']" class="nav-item">
          <a routerLink="/add" class="nav-link">Add</a>
        </li>
      </div>
    </nav>
    </div>